<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
     <%- include('partials/header', {title: ' Faça o login para continuar '}) %>

    <div class="container">
        <h1>Sobre Nós</h1>
         <p>O que achou do nosso atendimento? <span><a href="/usuarios/depoimento">Deixe o seu depoimento</a></span></p>
    </div>

    <%- include('partials/footer', {title: ' Faça o login para continuar '}) %>
</body>
</html>