<!DOCTYPE html>
<html>
<head>
  <title>Cadastro realizado</title>
</head>
<body>
  <h1>Paciente cadastrado com sucesso!</h1>
  <p>Nome: <%= paciente.name %></p>
  <p>Email: <%= paciente.email %></p>
  <a href="/usuarios/cadastro">Cadastrar outro paciente</a>
</body>
</html>